@import url("https://use.typekit.net/nrb6bgl.css");               
@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #ddded5;
  --main: #ff5f1a;
  --font-display: "bebas-neue-pro-expanded", sans-serif;
  --font-text: "bebas-neue-pro", sans-serif;

}

 
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --color-light: #ddded5;
  --color-dark: #0f0f0f;
  --font-display: var(--font-display);
  --font-text: var(--font-text);
  --animate-rotate: rotate 15s linear infinite;
  --animate-rotate-fast: rotate 5s linear infinite;
  --animate-fly: fly 2s ease-in-out infinite;
  --animate-fade-in: fadeIn 1s ease-out forwards;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fly {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
 

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

p,
span,
a,
li,
button {
  font-family: var(--font-text);
}

.about-text {
  font-size: clamp(1.55em, 2.3vw, 2.5em);
  line-height: 1.45;
}

.loader-logo {
  background-color: var(--background);

  mask-image: url("https://res.cloudinary.com/dqbpjov4y/image/upload/q_auto/f_auto/v1775852858/loader-mask-2_zjm6hk.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url("https://res.cloudinary.com/dqbpjov4y/image/upload/q_auto/f_auto/v1775852858/loader-mask-2_zjm6hk.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}