.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.tile {
  background-repeat: no-repeat;
  will-change: transform;
  flex-shrink: 0;
}
